/*@media print {
    tm-main-content,
    home,
    tm-sidebar {
        display: none;
    }
    article {
        width:100%!important;
        padding:0!important;
        margin:0!important;
    }
}
@page {
    margin: 2cm;
}
 */

.flex-2-col:first-child {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-2-col img{
    height: 100%;
}
@media screen {
    /*task_2*/
    .tm-box-bg-title:hover {
        font-weight: bold;
        color: white;
        background-color: lightblue;
    }

    /*task_3*/
    .tm-banner p::first-letter {
        color: lightskyblue;
        font-size: 30px;
    }

    /*task_4*/
    .tm-content-box {
        box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
    }

    .tm-banner {
        padding: 0;
        border:  WhiteSmoke solid 30px;
    }

    /*task_5*/
    section::before {
        content: "";
        width: 0;
        height: 0;
        border-top: 50px solid lightblue;
        border-right: 250px solid transparent;
    }

    /*task_6*/
    .carousel .active .tm-section-title {
        color: gainsboro;
        letter-spacing: 5px;
    }

    /*task_7*/
    h2 + p {
        font-style: italic;
    }

    /*task_8*/
    .tm-team-description-container p::first-letter {
        color: lightskyblue;
        font-size: 30px;
    }

    /*task_9*/
    ol li a {
        color: black;
    }

    ol li a:visited {
        color: black;
        text-decoration: underline;
    }

    ol li a:hover {
        color: lightblue;
        text-decoration: underline;
        text-decoration-style: double;
    }

    ol li .text::after {
        color: red;
        content: "New";
        vertical-align: super;
    }

    /*task_10*/
    li p::first-letter {
        font-size: 30px;
    }

    .box-work {
        padding: 18px;
    }

    .box-work:nth-child(2n) {
        background-color:  WhiteSmoke;
    }

    /*task_11*/
    form .mandatory-field:after
    {
        color: red;
        content: " *";
    }
    .submit-btn{
        display: block;
        width: 140px;
        height: 40px;
        background-color: white;
        color: lightblue;
        border-radius: 0;
        border-color: lightblue;
        float: right;
    }
    .submit-btn:hover{
        background-color: lightblue;
        border: none;
        color: white;
    }
    /*task_12*/
    .tm-nav-item-link:hover{
        background-color: WhiteSmoke;
        color: black;
        border: none;
    }
    .tm-main-nav{
        box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
    }

    .tm-footer p:first-letter{
        color: lightblue;
        font-size: 30px ;
    }
}
