@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
header {
  display: block;
  background-image: url("../img/m-h-night.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 0 0 30% 0; }

.header-wrap {
  display: block;
  padding: 100px;
  width: 400px;
  height: 100%;
  justify-content: center;
  margin-bottom: 30px;
  /*.p [header_heading ^= "awesome"]{
    background-color: mediumslateblue;
  }
   */ }
  .header-wrap .landing-logo {
    position: absolute;
    top: 20px;
    left: 120px; }
    .header-wrap .landing-logo .p {
      display: inline; }
  .header-wrap .header_heading {
    font-size: 40px;
    font-weight: bold;
    display: inline;
    font-family: 'Oxygen', sans-serif; }
  .header-wrap .header_text {
    font-family: 'Oxygen', sans-serif;
    font-size: 10px; }
  .header-wrap .login {
    color: white;
    float: right; }
  .header-wrap .header_button {
    color: white;
    background-color: lawngreen;
    margin: 5px;
    font: 16px bold;
    border: none;
    width: 100px;
    height: 30px;
    float: left;
    display: inline-block; }

main .section_text {
  text-align: center;
  font-family: "Oxygen", sans-serif;
  font-size: 24px; }
main .section_card_wrap {
  display: block;
  position: center;
  width: 800px;
  margin: 0 auto; }
  main .section_card_wrap .section_card {
    display: flex;
    padding: 15px;
    background-color: black;
    margin: 15px; }
    main .section_card_wrap .section_card .section_card_right_container {
      display: inline-block;
      margin: 5px;
      font-family: "Oxygen", sans-serif;
      color: white;
      text-align: center; }
      main .section_card_wrap .section_card .section_card_right_container .section-card-heading {
        font-size: 24px; }
      main .section_card_wrap .section_card .section_card_right_container .section_card_text {
        font-size: 12px; }
      main .section_card_wrap .section_card .section_card_right_container .section_link {
        text-align: center;
        font-size: 12px;
        color: white; }

/*# sourceMappingURL=style2.css.map */
