/* START: Task 1 Styles */
/*.table_container{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}*/
table tr td{
    border: solid green;
    width: 100px;
    height: 100px;
    font-size: 20px;
    text-align: center;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */

.error,
.success
{
    display: block;
    padding: 20px;
    color: white;
    width: max-content;
}
.error{
    background-color: pink;
}
.success{
    background-color: green;
}
.hidden
{
    display:none;
}
.tel{
    width: 270px;
    padding: 10px;
    margin: 10px 10px 10px 0;
    font-size: 10px;
}
#button{
    padding: 12px;
}

.court{
    background: url("../homework/assets/court.png") center no-repeat;
    background-size: cover;
    width: 600px;
    height: 330px;
}
.ball{
    width: 30px;
    height: 30px;
    background:url("assets/ball.png") center no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 100;
}
.check_zone1,
.check_zone2{
    display: block;
    width: 15px;
    height: 15px;
    position: relative;
}
.check_zone1{
    left: 25px;
    top: 155px;
    background-color: red;
}
.check_zone2{
    left: 555px;
    top: 140px;
    background-color: gold;
}
