@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@mixin btn_style{
  color: white;
  background-color: lawngreen;
  margin: 5px;
  font: 16px bold;
  border: none;
  width: 100px;
  height: 30px;
}
@mixin url_style{
  color: white;
}

  .header-wrap{
    display: block;
    padding: 100px;
    width: 400px;
    height: 100%;
    justify-content: center;
    margin-bottom: 30px;

    .landing-logo{
      position: absolute;
      top: 20px;
      left: 120px;

      .p{
        display: inline;
      }
    }
    .header_heading{
      font-size: 40px;
      font-weight: bold;
      display: inline;
      font-family: 'Oxygen', sans-serif;
    }
    /*.p [header_heading ^= "awesome"]{
      background-color: mediumslateblue;
    }
     */
    .header_text{
      font-family: 'Oxygen', sans-serif;
      font-size: 10px;
    }
    .login{
      @include url_style;
      float: right;
    }

    .header_button{
      @include btn_style;
      float: left;
      display: inline-block;
    }
  }
main{
  .section_text{
    text-align: center;
    font-family: "Oxygen", sans-serif;
    font-size: 24px;
  }
  .section_card_wrap{
    display: block;
    position: center;
    width: 800px;
    margin: 0 auto;

    .section_card{
      display: flex;
      padding: 15px;
      background-color: black;
      margin: 15px;

      .section_card_right_container{
        display: inline-block;
        margin: 5px;
        font-family: "Oxygen", sans-serif;
        color: white;
        text-align: center;

        .section-card-heading{
          font-size: 24px ;
        }
        .section_card_text{
          font-size: 12px;
        }
        .section_link {
          text-align: center;
          font-size: 12px;
          color: white;
        }
      }
    }
  }
}