#form_box {
    background-color: white;
    border: 2px royalblue solid;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 25px;
    font-size: 20px;
    height: 50%;
    width: 60%;
}
p{
    line-height: 0.5;
    margin: 15px 0;
}
.input_type{
    width: 100%;
    background-color: royalblue;
    height: 40px;
    border: none;
    color: white;
}
#confirm,
#converter{
    text-align: center;
    width: 120px;
    height: 30px;
    margin: 20px 0;
    border: none;
    color: white;
    background-color: royalblue;
    border-radius: 10px;
}