@media only screen and (max-width: 992px){}
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #f4f4f4;
}

.container{
  display: flex;
  height: 400px;
}
.item{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.content{
  margin: 50px;
  font-size: 20px;
  line-height: 2;
}
.content em:hover{
  color: #76cdd8;
}
.triangle{
  position: relative;
}
.triangle:before{
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid;
  border-width: 0 100px 100px 0;
  border-color: transparent #76cdd8 transparent transparent;
  position: absolute;
  top: 0;
  right: 0;
}
.content h3{
  color: #76cdd8;
}
.item_bg{
  background-color: #76cdd8;
  color: white;
  font-size: 16px;
}
.item_bg p:nth-child(1){
  font-size: 50px;
}
.item_picture{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.item_picture img{
  transition: all 0.4s;
  box-sizing: border-box;
  height: 400px;
}

.item_picture:hover img{
  transform: scale(1.5);
}
.item .picture{
  margin: 30px auto;
  border-radius: 50%;
  height: 270px;
  width: 270px;
  background: url("../img/image-04.jpg") no-repeat center;
  background-size: cover;
}
.btn,
.buy_btn,
.submit_btn{
  font-size: 18px;
  padding: 10px 35px;
  border: none;
  background-color: rgb(1,153,153);
  color: white;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}
.btn:hover{
  background-color: #76cdd8;
}
.inf_container{
  display: flex;
  padding: 40px 0;
}
.inf_item{
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
}
.inf_item:nth-child(1){
  width: 62%;
}
.inf_item .content p{
  font-size: 18px;
}

.inf_item:nth-child(2) {
  overflow: hidden;
  width: 38%;
}

.inf_item:nth-child(2) img {
  transition: all 0.4s;
  box-sizing: border-box;
  max-width: 100%;
}

.inf_item:nth-child(2):hover img {
  transform: scale(1.5);
}

.inf_card{
  display: flex;
  width: 33.33%;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 600px;
}
.inf_card:nth-child(1) {
  overflow: hidden;
}

.inf_card:nth-child(1) img {
  transition: all 0.4s;
  box-sizing: border-box;
  max-width: 100%;
}

.inf_card:nth-child(1):hover img {
  transform: scale(1.5);
}

.card{
  display: block;
  width: 100%;
  background-color: white;
  margin: 30px;
}
.card_header{
  background-color: rgb(1,153,153);
  color: white;
  text-align: center;
  padding: 10px 50px;
}
.card_body{
  border: 2px rgb(1,153,153) solid;
  line-height: 1.5;
  padding: 30px;
}
.card:hover{
  box-shadow: 0 0 0 0.2rem #24d4d4;
}
.buy_btn:hover{
  background-color: #24d4d4;
}
.btn_content:after{
  display: block ;
  content: "* Special discount";
}
.form_header{
  display: block;
  width: auto;
  height: max-content;
  background-color: #1dd5d5;
  padding: 50px 300px;
  color: white;
}
.form__container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 350px;
}
.form_block{
  display: flex;
  background-color: white;
  padding: 40px;
}
input,
select,
textarea{
  width:100%;
  box-sizing: border-box;
  margin: 5px 10px;
  padding: 15px 20px;
  font-size: 18px;
}
input::placeholder,
textarea::placeholder{
  color: black;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
textarea:focus,
input:focus,
select:focus{
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

table{
  padding: 10px;
  margin: 10px;
}
table tr td{
  padding: 10px;
}
textarea{
  height: 200px;
}
.form_footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 180px;
  background-color: rgb(1,153,153) ;
  color: white;
  padding-top: 50px;
}
.text_block{
  display: flex;
  margin: 40px;
  line-height: 0.8;
}