body{
    background-color: mediumseagreen;
}
#root{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.hidden{
    visibility: hidden;
}
button{
    background-color: mediumseagreen;
    border: 1px solid white;
    border-radius: 10px;
    width: 100px;
    padding: 5px;
    font-size: 18px;
    color: white;
    margin: 10px;
}
#navigationButtons{
    text-align: center;
}
#modifyItemInput{
    width: 300px;
    height: 100px;
    font-size: 18px;
    border-radius: 10px;
    border-color: white;
    background-color: mediumseagreen;
    color: white;
}
#saveModifiedItem{
    width: max-content;
    padding: 5px;
}
#modifyItem,
#tweetItems
{
    text-align: center;
}