*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app_title {
    margin-bottom: 28px;
    text-align: center;
}

.app-form {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.app-form_box {
    display: flex;
    align-items: center;
}

.app-form_box + .app-form_box {
    margin-top: 30px;
}

.app-form_desc {
    font-size: 18px;
    margin-right: 20px;
}

.app-form_types-item + .app-form_types-item {
    margin-top: 10px;
}

.app-form_types-label {
    cursor: pointer;
    font-size: 16px;
}

.app-form_values-select {
    flex-grow: 1;
    padding: 10px 15px;
    cursor: pointer;
}

.app_empty {
    text-align: center;
    font-size: 20px;
}

.app_table {
    width: 100%;
    border-collapse: collapse;
}

.app_table th {
    color: #fff;
    padding: 20px 15px;
    font-weight: 500;
    font-size: 20px;
    background: mediumseagreen;
    border: 1px solid #fff;
    border-top-color: mediumseagreen;
    border-bottom-color: mediumseagreen;
}

.app_table th:first-child {
    border-left-color: mediumseagreen;
}

.app_table th:last-child {
    border-right-color: mediumseagreen;
}

.app_table td {
    text-align: center;
    padding: 15px;
    border: 1px solid mediumseagreen;
}

.app_table tr {
    transition: all .2s;
}

.app_table tr:hover {
    background-color: rgba(74, 14, 237, .1);
}

.app_sort {
    cursor: pointer;
}

.app_table-name::after {
    content: '⬍';
    font-size: 24px;
    margin-left: 5px;
    display: inline-block;
    color: rgb(255, 104, 104);
    line-height: 1;
}

.app_table-name.app_table-name_asc::after {
    content: '🠕';
}

.app_table-name.app_table-name_desc::after {
    content: '🠗';
}

.app_table-area::after {
    content: '⬍';
    font-size: 24px;
    margin-left: 5px;
    display: inline-block;
    color: red;
    line-height: 1;
}

.app_table-area.app_table-area_asc::after {
    content: '🠕';
}

.app_table-area.app_table-area_desc::after {
    content: '🠗';
}