/*
* Colors used in design.
*   primary: #0078aa;
*   dark: #363636;
*   light: #fff;
*/
body{
  font-family: 'Montserrat', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.nav_block{
  display: block;
  background: white center top;
  width: 100%;
  height: 60px;
}
.logo{
  display: inline-block;
  float: left;
  margin: 20px;
}
.nav_menu{
  display: inline-block;
  float: right;
  margin: 20px;
}
.nav_menu span{
  margin: 5px;
  padding: 10px;
}
.nav_menu span a{
  text-decoration: none;
  color: black;
}
.nav_menu span a:hover{
  color: royalblue;
}
.header_container{
  display: block;
  background: url("../img/header_bg.jpg") no-repeat center;
  width: 100%;
  height: 730px;
  color: black;
}
.header_title{
  display: block;
  width: 400px;
  height: max-content;
  padding: 20% 10%;
}
.header_title p{
  font-size: 14px;
  line-height: 0.5;
}
.icon_block{
  display: inline-block;
}
.icon_block i{
  padding: 20px;
  margin: 10px;
  border-radius: 100%;
  border: none;
  background-color: royalblue;
  color: white;
  font-size: 20px;
}
/*-------main-------*/
.img_about{
  background: url("../img/tools.png") center no-repeat;
  display: inline-block;
  width: 737px;
  height: 496px;
  background-size: auto;
}
.main__about{
  display: inline-block;
  height: 496px;
  width: max-content;
}
.main_about_article{
  line-height: 0.9;
  display: block;
  width: 400px;
  height: max-content;
}
.main_about_article p:nth-child(2){
  color: royalblue;
}
.main_about_article h2:first-letter{
  color: royalblue;
}
.main_about_article h1{
  line-height: 0.7;
}
/*----Help-----*/
.main_help{
  width: 100%;
  background: url("../img/services_bg.jpg") no-repeat center;
  background-size: cover;
  height: max-content;
}
.help_title{
  padding-top: 30px;
  text-align: center;
  line-height: 0.5;
}
.help_title p{
  font-size: 14px;
}
.help__container{
  padding: 0 12% 5%;
}
.help_container{
  display: inline-block;
  background-color: white;
  width: 22%;
  margin: 20px;
  padding: 3%;
}
/*---Special offers----*/
.special_offers{
  width: 100%;
  background: url("../img/pricing_bg.jpg") no-repeat center;
  height: max-content;
  background-size: cover;
}
.special_title{
  padding-top: 30px;
  text-align: center;
  line-height: 0.5;
}
.special_title p{
  font-size: 14px;
}
.special__container{
  padding: 20px 10%;
  text-align: center;
}
.special_container{
  display: inline-block;
  width: 20%;
  height: max-content;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
}
.special_container:nth-child(n){
  background-color: royalblue;
  color: white;
  padding: 30px;
  border:none;
}
.special_container:nth-child(2n){
  background-color: white;
  color: royalblue;
  padding: 50px;
  margin: -0.5%;
  border: 2px royalblue solid;
}
.special_container p:nth-child(8){
  font-size: 30px;
  line-height: 0.5;
}
.special_container p:nth-child(2){
   font-size: 50px;
  line-height: 0.1;
 }
.special_container button{
  background-color: white;
  border: 2px royalblue solid;
  color:royalblue;
  padding: 10px 15px;
  border-radius: 7px;
}
/*-------Submit-----*/
.picture_contact{
  display: inline-block;
  background: url("../img/contact_image.jpg") no-repeat center;
  background-size: cover;
  width: 700px;
  height: 450px;
}
.contact_form{
  display: inline-block;
  width: max-content;
  height: max-content;
}

.contact_form h1{
  line-height: 0.2;
}
.contact_form fieldset{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 0.5px black solid;
}
.contact_form_input,
.contact_form_select{
  font-style: italic;
  width: 400px;
  border: none;
  background-color: white;
  font-size: 16px;
  color: gray;
}
.contact_button{
  border: none;
  color: white;
  background-color: royalblue;
  border-radius: 7px;
  padding: 10px 15px;
  margin: 10px 10px;
}
/*Footer*/
.footer_container{
  display: block;
  background: black center bottom;
  width: 100%;
  height: max-content;
}
.footer_title{
  text-align: center;
  color: white;
  padding: 5px;
}

