.main{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: block;
}
.form{
    display: block;
    margin: 20px;
    background-color: #40a070;
    padding: 20px;
}
.button
{
    width:65px;
    height:65px;
    font-size:25px;
    cursor:pointer;
    background: white;
    color: #40a070;
    border:none;
}
.textview
{
    margin-bottom: 15px;
    padding-left: 10px;
    width: 269px;
    height: 75px;
    font-size: 34px;
    background: white;
    color: #40a070;
    border: none;
    border-radius: 10px;
}