@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}
.grid-container{
  display: grid;
  grid-gap: 10px;
  background-color: white;
  padding: 0 10px;
}
.grid{
  border: none;
  box-shadow: 0 0 15px 0 rgba(91,81,81,0.52);
  -webkit-box-shadow: 0 0 15px 0 rgba(91,81,81,0.52);
  -moz-box-shadow: 0 0 15px 0 rgba(91,81,81,0.52);
  padding: 20px;
}
.grid_item_1{
  width: auto;
  grid-column: 1 / span 2;
  grid-row: 1;
}
.container_logo{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  line-height: 0.4;
}
.container_logo > div > h1,
.item_content > h2,
.grid_item_4 > .container_logo > div > h4{
  font-family: 'Dancing Script', cursive;
}
.container_logo > div > p,
.item_content > h4,
.item_content > p{
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 14px;
}
img:nth-child(1){
  width: 100px;
  height: 70px;
}
.grid_item_2{
  grid-row: 2;
}
.grid_item_3{
  grid-row: 2;
  width: auto;
  height: max-content;
}
.item_content{
  text-align: center;
  width: 400px;
  height: auto;
}
.item_content > img:nth-child(1){
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.item_content > h2,
.item_content > h4{
  line-height: 0.5;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 32%;
  flex: 32%;
  max-width: 32%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
.grid_item_4{
  width: auto;
  grid-column: 1 / span 2;
  grid-row: 3;
}
.grid_item_4 > .container_logo > div > p {
  font-size: 14px;
}
.grid_item_4 > .container_logo > div > img {
  width: 70px;
  height: 50px;
}