@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: "Roboto", sans-serif;
}
/*------NavBar-------*/
.navbar{
    font-size: 20px;
    padding: 15px;
}
.text-dark-gray{
    font-size: 20px;
    color: lightgray;
}
.text-dark-gray:hover{
    color: black;
    text-decoration: none;
}
.btn .btn-dark{
    font-size: 20px;
}
.col-lg-5{
    background: url("../assets/hero-5.jpg") no-repeat center;
    background-size: cover;
}
.offer{
    margin: 30% 0;
}
.col-lg-12{
    text-align: center;
    padding: 40px 0 0;
}
.card{
    text-align: center;
}
.container-fluid{
    padding: 0;
}
.card-img-top{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}